* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.room-list {height: 620px}

.message-list {height: 620px;}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 28px;
}
    


/* Set black background color, white text and some padding 
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}
*/
    
/* On small screens, set height to 'auto' for sidenav and grid 
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height: auto;} 
}
*/

/*--------SIDENAV--------*/
.sidenav {
    background-color: rgba(218, 219, 219, 0.83);
    height: 100%;
	padding-top: 2%;
	width: 25%;
	padding-left: 30px;
}

.title-new-room-row h1 {
	display: inline-block;
	margin: auto;
	padding-right: 20px;
}

.title-new-room-row Button {
    display: inline-block;
    padding: 0;
	font-size: 16px;
}

table {
	width: 100%;
	margin-top: 30px;
}

tr {
    font-size: 16px;
}

tr:hover {
    cursor: pointer;
	color: rgb(162, 162, 163);
}


/*-------REACT-BOOTSTRAP MODAL--------*/l
.modal-container {
	position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  	position: absolute;
}

/*--------MESSAGE-LIST--------*/

.col-sm-9 {
	background-color: rgba(240, 240, 240, 0.17);
	padding: 0;
}

.message-list {
	width: 100%;
	margin: 0;
}

.message-list h2 {
	padding-left: 15px;
}


#username-line {
	width: 60%;
	padding-left: 15px;
}

#time-line {
    width: 40%;
}


#content-td {
	padding-left: 15px;
}

.message-list table {
	border: 1px solid black;
}

.new-messages-div form {
	height: 50px;
	bottom: 0;
	position: fixed;
	width: 75%;
}

.message-list tr {
	height: 25px;
}


.form-or-choose-room h2{
	position: fixed;
}

.new-messages-div textarea {
	width: 90%;
	height: 100%;
}

.new-messages-div button {
	width: 10%;
	height: 100%;
	margin: auto;
	vertical-align: top;
	background-color: dimgray;
	color: white;
}




    